<div class="container">
    <footer class="footer">
        <small>
        Copyright &copy; <a href="https://www.udemy.com">The complete course Ruby On Rails</a>
        by <a href="http://www.tonic.com/"> tONIc </a>
        </small>
        <nav>
            <ul>
                <li><%= link_to "About", pages_about_path %></li>
            </ul>
        </nav>
    </footer>
</div>
